################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


#Adding more exclusions

*.sqlite
*.json
*.suo
bin
obj
config

