################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite

#Add two more exclusions
*.sqlite
*.json
*.suo
